* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);

  & ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;

    & li {
      margin: 0 1rem;
      padding: 1rem;
      font-size: 22px;
      font-weight: 600;

      & a {
        text-decoration: none;
        text-transform: uppercase;
        color: #f4f4f4;

        &:hover {
          color: skyblue;
        }
      }
    }
  }
}

#main-title {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  pointer-events: none;
}

section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  scroll-snap-align: center;
  & h1 {
    font-size: 4rem;
  }

  & p {
    font-size: 1.7rem;
  }

  &#home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('https://static.vecteezy.com/system/resources/previews/001/218/592/large_2x/background-wallpaper-with-polygons-in-gradient-colors-vector.jpg')
        no-repeat center center/cover;
  }

  &#features {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('https://static01.nyt.com/images/2019/12/17/books/review/17fatbooks/17fatbooks-superJumbo.jpg')
        no-repeat center center/cover;

    & .Ba {
      width: 100%;
    }
    & .Bb {
      width: 100%;
      & p {
        font-weight: 600;
      }
    }
  }

  &#about {
    position: relative;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & h1 {
      font-size: 2.5rem;
    }

    & .about-upper {
      display: flex;
    }

    & .about-l {
      display: flex;
      align-items: center;
      width: 100%;
      height: 90%;
      margin-left: 2rem;
      padding-right: 4rem;
    }
    & .about-r {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h2 {
        font-size: 1.7rem;
      }

      & .about-r_container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          text-decoration: none;
          color: rgb(243, 234, 149);
          transition: all 0.3s ease-in-out;
          &:hover {
            color: rgb(233, 210, 10);
          }
        }
      }

      & p {
        font-family: 'Lobster', cursive;
        font-size: 3rem;
      }
    }

    & .about-p {
      font-size: 1.2rem;
      margin: 0 1.5rem;
      min-width: 300px;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 968px) {
  section#home {
    & .Ab {
      & p {
        font-size: 18px;
      }
      & img {
        min-width: 300px;
        height: 300px;
      }
    }
  }
  .about-upper {
    flex-direction: column;
  }
  section.about-r {
    padding: 20px 0;
  }
  section#about {
    & .devs .dev img {
      height: 100px;
      width: 100px;
    }

    & .social-icons {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {
  section#home {
    & .Ab {
      & img {
        min-width: 280px;
        height: 280px;
      }
    }
    & #main-title {
      font-size: 4rem;
    }
    & p {
      font-size: 18px;
    }
  }

  section#about {
    & .devs .dev img {
      height: 80px;
      width: 80px;
    }

    & .devs p {
      font-size: 16px;
    }

    & .about-l p {
      font-size: 18px;
    }
  }
}

.Aa {
  margin: 1rem;
  width: 60%;
  & p {
    font-weight: 600;
  }
}

.Ab {
  height: 40%;
  width: 40%;

  margin: 1rem;

  & img {
    width: 70%;
    min-width: 320px;
    height: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 11px 3px #000000;
    box-shadow: 0px 0px 6px 2px #000000;
  }

  & p {
    font-weight: 600;
    font-size: 22px;
    text-justify: distribute;
  }
}

.devs {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  & .dev {
    & img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }

    & p {
      font-size: 1.2rem;
    }
    & .social-icons {
      display: flex;
      justify-content: space-evenly;

      & i {
        color: rgb(243, 234, 149);
        &:hover {
          color: rgb(233, 210, 10);
        }
      }
    }
  }
}

.img-slider {
  position: relative;
  width: 90%;
  height: 550px;
  margin: 10px;
  background: #1d212b;
  transform: translateY(12%);
  & .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    &.active {
      clip-path: circle(150% at 0 50%);
      transition: 2s;
      transition-property: clip-path;
    }
  }
}

.img-slider .slide img {
  z-index: 1;
  padding: 0.5rem;
  width: min-content;
  height: min-content;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 15px 30px;

  & h2 {
    color: rgb(248, 237, 186);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    transform: translateY(-130%);
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 5px;
  }

  & p {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  & .btn {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgb(49, 48, 48);
  }
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 400px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
